.ajaxContainer .loader{
	display: none;
	width: 32px;
	height: 32px;
	background: url(../img/ajax-loader.gif) center no-repeat;
	margin:0px;
	padding:0px;
}
form div.input.disabled{
    color: #cccccc;
}