.ajaxContainer .loader{
	display: none;
	width: 32px;
	height: 32px;
	background: url(../img/ajax-loader.gif) center no-repeat;
	margin:0px;
	padding:0px;
}
form div.input.disabled{
    color: #cccccc;
}

.hidepopup {
	display:none;
}

.helpPopup {
	width: 400px;
}

.helpPopup p {
	margin: 10px 0px 10px 0px;
}

#behaviorhelp{
	width: 400px;
}
#behaviorhelp table{
	width: auto;
	border: none;
	padding: 0px;
	margin: 10px 0px 10px 0px;
}
#behaviorhelp table tr.odd{
	background: none repeat scroll 0 0 #EEEEEE;
}
#behaviorhelp table th{
	border: none;
	background: none;
	color:#000000;
	font-weight:bold;
	padding: 3px 5px 3px 5px;
	margin: 0px;
	text-indent: 0px;
}
#behaviorhelp table td{
	border: none;
	background: none;
	padding: 3px 5px 3px 5px;
	margin: 0px;
}